<h1>Delete Book</h1>
<hr>

<p>Are you sure you want to delete this book?</p>

<p><strong>Title:</strong> <%= @book.title %></p>

<%= button_to "Delete", @book, method: :delete %>
<%= link_to "Back to Home", books_path %>