<h1>Delete Book</h1>
<hr>

<p><b style="color:red">Warning: </b> Are you sure you want to delete the following book?</p>

<%= render @book %>

<%= button_to "Delete", @book, method: :delete %>
<%= link_to "Back to Home", books_path %>