<div id="<%= dom_id user_book %>">
<p>
<h3>User:</h3>
<%= render partial: 'users/user', locals: { user: user_book.user } %>
</p>

<p>
<h3>Book:</h3>
<%= render partial: 'books/book', locals: { book: user_book.book } %>
</p>

</div>
